
/*https://coolors.co/7400b8-6930c3-5e60ce-5390d9-4ea8de-48bfe3-56cfe1-64dfdf-72efdd-80ffdb
https://coolors.co/6f2dbd-a663cc-b298dc-b8d0eb-b9faf8

#6930C3; #4EA8DE; #64DFDF; #5D6B83;  #282f3d
#6f2dbd; #a663cc; #b298dc; #b8d0eb; #b9faf8;*/ 
@font-face {
    font-family: 'SuisseBold';
    src: url('../res/fonts/SuisseIntl-Bold.eot');
    src: url('../res/fonts/SuisseIntl-Bold.eot?#iefix') format('embedded-opentype'),
        url('../res/fonts/SuisseIntl-Bold.woff2') format('woff2'),
        url('../res/fonts/SuisseIntl-Bold.woff') format('woff'),
        url('../res/fonts/SuisseIntl-Bold.ttf') format('truetype'),
        url('../res/fonts/SuisseIntl-Bold.svg#SuisseIntl-Bold') format('svg');
}

@font-face {
    /*font-family: 'Suisse Int\'l';*/
    font-family: 'SuisseMed';
    src: url('../res/fonts/SuisseIntl-Medium.eot');
    src: url('../res/fonts/SuisseIntl-Medium.eot?#iefix') format('embedded-opentype'),
        url('../res/fonts/SuisseIntl-Medium.woff2') format('woff2'),
        url('../res/fonts/SuisseIntl-Medium.woff') format('woff'),
        url('../res/fonts/SuisseIntl-Medium.ttf') format('truetype'),
        url('../res/fonts/SuisseIntl-Medium.svg#SuisseIntl-Medium') format('svg');
}
@font-face {
    font-family: 'SuisseReg';
    src: url('../res/fonts/SuisseIntl-Regular.eot');
    src: url('../res/fonts/SuisseIntl-Regular.eot?#iefix') format('embedded-opentype'),
        url('../res/fonts/SuisseIntl-Regular.woff2') format('woff2'),
        url('../res/fonts/SuisseIntl-Regular.woff') format('woff'),
        url('../res/fonts/SuisseIntl-Regular.ttf') format('truetype'),
        url('../res/fonts/SuisseIntl-Regular.svg#SuisseIntl-Regular') format('svg');
}
:root {
    --violet: #6f2dbd;
    --rosa: #a663cc;
    --lila:#b298dc;
    --blanco: #ffffff;
    --azul:#b9faf8;
    --gris: #282f3d;
}
body {
    font-family: 'SuisseReg';
    font-size: 1.1em;
    color: var(--blanco);
}
h1, h2, h3 {
	font-family: 'SuisseBold';
	font-size: 1.6em;
}

header {
    padding: 7px;
    text-align: center;
    color: var(--blanco);
}
.main{
	min-height: 70vh;
}

.bg1{
    background-color: var(--violet);
}
.buscar form {
	padding: 1.1em 0;
}
input.buscar{
	padding: 0.45em 1em;
	border-radius: 7px;
	border: solid 1px;
	border-color: var(--blanco);
	outline: none;
	font-size: 105%;
	font-family: inherit;
    /*width: calc(100% - 20px);*/
}
.buscar button{
	border: none;
	border-radius: 7px;
	height: 46px;
	width: 46px;
	outline: none;
	padding: 0;
}
button{
	background:var(--blanco); 
}
button:hover{
	background:var(--lila);
}
.main{  

    background: url(../res/img/bg-home-pc.jpg) no-repeat right;
    background-size:cover;
    width: 100vw;
}
footer {
    background-color: var(--azul);
}
.btn-rss {
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    text-indent: -9999px;
    margin: auto;
    width: 2em;
    height: 2em;
}
/*
btn-rss {
   
  
    display: block;
    
    margin: auto;
    width: 2em;
    height: 2em;
}*/
.fb {
    background-image: url(../res/img/icon/facebook.svg);
}

.inst {
    background-image: url(../res/img/icon/instagram.svg);
}

.youtube {
    background-image: url(../res/img/icon/youtube.svg);
}

/* ---Offline --- */
body:not(.offline) .offline-banner {
    height: 25px;
    margin-top: -25px;
    transition: all 0.5s;

}

body.offline .offline-banner {
    transition: all 0.5s;
    margin: 0;
}
.bg-danger {
    color: var(--gris);
}
/*/////
@media screen and (min-width: 769px) {    
      #banner{
      	}
}
@media screen and (min-width: 990px){
}
@media screen and (min-width: 1025px) {
    #banner{
        background-image: url(../img/banner_pc_grande.png);    
        background-size:cover;
        width: 100vw;
        height: calc(100vw * 0.57222222);
        max-width: 1440px;
        max-height: 824px;
}
@media screen and (min-width: 1280px) {
    #inicio{
        margin-bottom:20vh;
	}
}
*/